@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");
.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; }
  .glide__arrow--left {
    left: 2em; }
  .glide__arrow--right {
    right: 2em; }
  .glide__arrow--disabled {
    opacity: 0.33; }

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5); }
  .glide__bullet--active {
    background-color: white; }

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

:root {
  --color-primary-light: #1b3b6f;
  --color-primary-dark: #21295c;
  --color-secondary-light: #1c7293;
  --color-secondary-dark: #065a82;
  --color-tertiary: #9eb3c2;
  --color-white: #fff;
  --color-black: #000;
  --border-white: 1px solid var(--color-white); }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem; }

.u-margin-bottom-large {
  margin-bottom: 3rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1; }

.heading-primary {
  color: var(--color-white);
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: .6rem;
  font-weight: 500; }

.heading-secondary {
  color: var(--color-white);
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: .6rem;
  font-weight: 500; }

.alert {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
  text-align: center;
  border: 1px solid var(--color-white);
  padding: 2rem 3.5rem;
  transition: all .5s; }
  .alert.active {
    top: -2%; }
  .alert__message {
    font-size: 1.4rem;
    color: var(--color-white); }

.btn {
  border: var(--border-white);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 300;
  padding: .5rem 2rem;
  border-radius: 10rem;
  color: var(--color-white);
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: all .6s;
  background-color: transparent; }

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary-light); }

.settings__select-box {
  display: flex;
  width: 340px;
  flex-direction: column; }

.settings__options-container {
  font-size: 1.2rem;
  color: white;
  border-bottom: 1px solid var(--color-white);
  /* border-radius: 10px 0 0 10px; */
  height: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  font-weight: 300;
  letter-spacing: 4.5px;
  overflow: hidden;
  order: 1; }

.settings__options-container::-webkit-scrollbar {
  width: 1rem;
  background-color: var(--color-primary-dark);
  /* border-radius: 0 10px 10px 0; */ }

.settings__options-container::-webkit-scrollbar-thumb {
  background-color: var(--color-white);
  border-radius: 10px; }

.settings__options-container.active {
  height: 240px;
  opacity: 1;
  overflow-y: scroll; }

.settings__selected {
  position: relative;
  color: var(--color-white);
  font-size: 1.3rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: 4.5px;
  border-bottom: 1px solid var(--color-white);
  order: 0; }
  .settings__selected-categories::after, .settings__selected-difficulty::after, .settings__selected-type::after {
    position: absolute;
    font-size: 1rem;
    top: .5rem;
    left: 1.5rem;
    color: var(--color-tertiary); }
  .settings__selected-categories::after {
    content: "Category"; }
  .settings__selected-difficulty::after {
    content: "Difficulty"; }
  .settings__selected-type::after {
    content: "Type of answer"; }

.settings__selected.settings__selected-categories, .settings__selected.settings__selected-difficulty, .settings__selected.settings__selected-type {
  padding-top: 2.5rem; }

.settings__option {
  padding: 0 1.5rem;
  width: 100%; }

.settings__option label {
  display: block;
  height: 100%;
  width: 100%; }

.settings__option, .settings__selected,
.settings label {
  cursor: pointer; }

.settings__option:hover {
  background-color: var(--color-white);
  color: var(--color-primary-dark); }

.settings__option, .settings__selected {
  padding: 1rem 1.5rem;
  text-align: start; }

.settings__select-box .settings__option .settings__radio {
  display: none; }

.quiz {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0; }
  .quiz__questions {
    width: 65%;
    position: relative;
    height: 31rem;
    display: flex; }
  .quiz__controls {
    display: flex; }
  .quiz__controls .btn {
    margin: 0 1rem; }

.question {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateX(120%);
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  transition: all 1.4s ease-in-out; }
  .question__title {
    font-size: 1.8rem;
    letter-spacing: 2.4px;
    text-align: center; }
  .question__answers {
    display: flex;
    flex-direction: column;
    padding: 2rem 0; }
    .question__answers-correct {
      display: none; }
  .question__answers .answer {
    position: relative;
    color: var(--color-white);
    font-size: 1.3rem;
    text-align: start;
    font-weight: 400;
    padding: 2rem 1rem;
    letter-spacing: 4.5px;
    margin-left: 5rem;
    transition: all 0.4s;
    cursor: pointer; }
  .question__answers .answer input[type="radio"] {
    display: none; }
  .question__answers .answer label {
    display: block;
    text-align: start;
    cursor: pointer; }
  .question__answers .answer label::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 0;
    margin-left: -1rem;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    transition: all 0.6s;
    transform: translateY(-50%); }
  .question__answers .answer input[type="radio"]:checked + label::after {
    background-color: var(--color-white); }

.question.current {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: all 1.4s ease-in-out; }

.question.completed {
  opacity: 0;
  visibility: visible;
  transform: translateX(-120%);
  transition: all 1.4s ease-in-out; }

.results {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  height: 75%; }
  .results__questions {
    overflow-y: scroll;
    margin-top: 1rem; }
  .results__questions::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--color-primary-dark);
    border-radius: 10px; }
  .results__questions::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
    border-radius: 10px; }
  .results__question {
    padding: 1.5rem 2rem; }
    .results__question--title {
      font-size: 1.4rem;
      text-align: center;
      font-weight: 400;
      color: var(--color-white);
      margin-bottom: .5rem; }
    .results__question--answers {
      display: flex;
      flex-direction: column; }
    .results__question--answer {
      font-size: 1.2rem;
      font-weight: 200;
      padding: .5rem 1rem;
      margin-left: 2.5rem;
      color: var(--color-white); }

.settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  text-align: center; }
  .settings__form {
    display: flex;
    flex-direction: column; }
    .settings__form-group {
      position: relative;
      padding: 1rem 0;
      display: flex;
      justify-content: center; }
  .settings input {
    width: 340px;
    font-size: 1.4rem;
    background: transparent;
    color: var(--color-white);
    border: none;
    border-bottom: 1px solid var(--color-white);
    padding: 1rem 1.5rem;
    letter-spacing: 4.5px;
    font-weight: 200;
    text-align: start;
    margin: 0 auto;
    outline: none;
    /* hiding up and down arrows     */ }
    .settings input::placeholder {
      color: var(--color-white);
      opacity: 1;
      font-weight: 200; }
    .settings input:active {
      outline: none; }
    .settings input[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield; }
    .settings input[type="number"]::-webkit-inner-spin-button, .settings input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none; }
  .settings input[type=number] + label {
    position: absolute;
    font-size: 1rem;
    top: 0rem;
    left: 7rem;
    color: var(--color-tertiary);
    font-weight: 400;
    letter-spacing: 4.5px; }

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }
  .welcome__title {
    animation: moveInLeft 1s ease-in-out 0.75s;
    animation-fill-mode: backwards; }
  .welcome__desc {
    color: var(--color-white);
    width: 52%;
    font-size: 1.2rem;
    padding: 0.5rem 0 1rem 0;
    font-weight: 200;
    line-height: 1.4;
    animation: moveInRight 0.7s ease-in-out 0.95s;
    animation-fill-mode: backwards; }
  .welcome__btn {
    animation: moveInBottom 0.5s ease-in 1.4s;
    animation-fill-mode: backwards; }

.header {
  position: absolute;
  top: 2rem;
  left: 2.5rem;
  animation: moveInLeft .8s ease-in-out; }
  .header__logo {
    display: flex;
    align-items: center;
    cursor: pointer; }
  .header__icon {
    width: 2.5rem;
    margin-right: .5rem;
    z-index: 1; }
  .header__text {
    font-size: 1.65rem;
    font-weight: 200;
    padding-top: .75rem;
    z-index: 1;
    color: var(--color-white); }

.container {
  position: relative;
  height: 100vh;
  display: flex;
  background: linear-gradient(to left, var(--color-primary-light) 60%, var(--color-primary-dark) 90%);
  overflow: hidden; }

.circle {
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-white); }
  .circle-1 {
    width: 15rem;
    height: 15rem;
    bottom: -5rem;
    left: -5rem;
    filter: opacity(0.2); }
  .circle-2 {
    width: 5rem;
    height: 5rem;
    top: -2rem;
    right: -2.5rem;
    filter: opacity(0.3); }
  .circle-3 {
    width: 30rem;
    height: 30rem;
    top: -15rem;
    left: -10rem;
    filter: opacity(0.09); }
  .circle-4 {
    width: 24rem;
    height: 24rem;
    bottom: -15rem;
    right: -10rem;
    filter: opacity(0.17); }

.welcome-section,
.settings-section,
.quiz-section,
.results-section {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  transition: all 1s ease-in-out; }

.container.to-settings .welcome-section {
  transform: translateX(-100%);
  opacity: 0; }

.container.to-settings .settings-section {
  transform: translateX(-100%); }

.container.to-quiz .welcome-section {
  transform: translateX(-200%);
  opacity: 0; }

.container.to-quiz .settings-section {
  transform: translateX(-200%);
  opacity: 0; }

.container.to-quiz .quiz-section {
  transform: translateX(-200%); }

.container.to-results .welcome-section {
  transform: translateX(-200%);
  opacity: 0; }

.container.to-results .settings-section {
  transform: translateX(-200%);
  opacity: 0; }

.container.to-results .quiz-section {
  transform: translateX(-300%);
  opacity: 0; }

.container.to-results .results-section {
  transform: translateX(-300%);
  opacity: 1; }
