:root {

    --color-primary-light: #1b3b6f;
    --color-primary-dark: #21295c;

    --color-secondary-light: #1c7293;
    --color-secondary-dark: #065a82;

    --color-tertiary: #9eb3c2;

    --color-white: #fff;
    --color-black: #000;

    --border-white: 1px solid var(--color-white);
}