.settings {
	display: flex;

	&__form {
		display: flex;
		flex-direction: column;

		&-group {
			padding: 1rem 0;
			display: flex;
			justify-content: center;
		}
	}

	& input {
		width: 340px;
		font-size: 1.4rem;
		background: transparent;
		color: var(--color-white);
		border: var(--border-white);
		border-radius: 10rem;
		padding: 1rem 1.5rem;
		letter-spacing: 4.5px;
		font-weight: 200;
		text-align: start;
		margin: 0 auto;

		&::placeholder {
			color: var(--color-white);
			opacity: 1;
			font-weight: 200;
		}

		&:active {
			outline: none;
		} 

		/* hiding up and down arrows     */
		&[type="number"] {
			-webkit-appearance: textfield;
			-moz-appearance: textfield;
			appearance: textfield;
		}
		&[type="number"]::-webkit-inner-spin-button,
		&[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}
	}
}
