.container {
	position: relative;
    height: 100vh;
    display: flex;
	background: linear-gradient(
		to left,
		var(--color-primary-light) 60%,
		var(--color-primary-dark) 90%
	);
	overflow: hidden;
}

.circle {
	position: absolute;
	border-radius: 50%;
	background-color: var(--color-white);

	&-1 {
		width: 15rem;
		height: 15rem;
		bottom: -5rem;
		left: -5rem;
		filter: opacity(0.2);
	}

	&-2 {
		width: 5rem;
		height: 5rem;
		top: -2rem;
		right: -2.5rem;
		filter: opacity(0.3);
	}

	&-3 {
		width: 30rem;
		height: 30rem;
		top: -15rem;
		left: -10rem;
		filter: opacity(0.09);
	}

	&-4 {
		width: 24rem;
		height: 24rem;
		bottom: -15rem;
		right: -10rem;
		filter: opacity(0.17);
	}
}

.welcome-section,  .settings-section, .quiz-section{
    position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: all 1s ease-in-out;
}

.container.to-settings .welcome-section {
    transform: translateX(-100%);
    opacity: 0;
}

.container.to-settings .settings-section {
    transform: translateX(-100%);
}

.container.to-quiz .welcome-section {
    transform: translateX(-200%);
    opacity: 0;
}

.container.to-quiz .settings-section {
	transform: translateX(-200%);
	opacity: 0;
}

.container.to-quiz .quiz-section {
	transform: translateX(-200%);
}